# Virtualb Machines Dir
# for Test
vms
# scala sbt files
**/target
**/lib_managed
**/src_managed
**/project/boot
**/out
**/project/plugins/project/

## config file for app
**/DancerText
**/.idea
.DS_Store
